* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
 
}

.flex-container {
  background-color: brown;

}

.ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  display: flex;
  list-style: none;
  gap: 29px;
  justify-content: center;
  background-color: brown;
}

.li {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  display: flex;
  background-color: brown;
  justify-content: end;
}

.CartWidget {
  justify-content: end;
}